/* @font-face {
    src: url(webfonts/PokemonHollowNormal-pyPZ.ttf);
    font-family: PokemonHollowNormal;
    src: url(webfonts/PokemonSolidNormal-xyWR.ttf);
    font-family: PokemonSolidNormal;
} */

@font-face {
    src: url(webfonts/pokemon-gb-font/PokemonGb-RAeo.ttf);
    font-family: pokemon-gb-font;
}

* {
    box-sizing: border-box;
}

body {
    background: rgb(0, 153, 255);
    font-family: pokemon-gb-font;
    font-size: small;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */

}
/* .container-1 {
    flex: 1;
    border: solid;
    color: yellow;
} */
.container-2 {
    flex: 1;
    border: solid;
    padding: 10px;
    color: yellow;
    width: 80%;
    margin: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: right; */
}
.container-3 {
    padding: 30px;
}
.sprite-container {
    width: 50;
    height: 60;
    margin: auto;
    /* background-color: white; */
    /* overflow: hidden; */
}

form {
    padding: 10px;
    text-align: 10px;
    display: inline-block;
    position: relative;
    font-size: 150%;
    color: yellow;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: lightblue;
  }
  .inner-header {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: blue;
    /* font-family: PokemonHollowNormal; */
  }
  .logo-container {
    height: 100%;
    display: table;
    float: left;
  }
  .logo-container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: 200;
    font-style: italic;
  }

p {
    line-height: 2;
    text-align: center;
} 

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    text-align: center;
}
li {
    text-decoration: none;
    color: yellow;
}
li:hover {
    color: red;
    transition: .3s ease-in-out;
}
li.logo-container {
    margin: 10px;
}
.nav-link {
    float: right;
    margin-top: 30px;
    margin-right: 14px;
    list-style-type: none;
}
.attack-li {
    float: left;
    line-height: 14;
}


span.name {
    text-transform: capitalize;
    color: rgb(255, 230, 0);
    font-size: x-large;
    /* font-family: PokemonHollowNormal; */
}
span.type {
    text-transform: capitalize;
}
span.attack-list {
    color: red;
    font-size: larger;
}
span.ability-list {
    color: red;
    font-size: larger;
}

.sprite-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 25%;
}

#pokedex-image-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#pokedex-image-1:hover {
    cursor: alias;
}

.landing-text {
    color: yellow;
}

button {
    color: yellow;
    background-color: blue;
    border-radius: 7px;
    border-color: yellow;
}
button:hover {
    color: red;
}


footer {
    position: relative;
    float: right;
    bottom: 10px;
    right: 0;
    margin: auto;
    padding: 20px;
}

@media screen and (max-width: 600px) {
   
}